<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Keywords -->
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <!-- Description -->
       <meta name="description" content="{% block description %}{% endblock %}">

        <!-- Title -->
        <title>{% block title %}{% endblock %}</title>

        <link rel="shortcut icon" type="image/ico" href="{{ "favicon.ico" | asset_url }}" />

        <!-- Fonts --> 

        <!-- Styles -->
        {{ "manager.min.css" | asset_url | stylesheet_tag }}
       
    </head>
    <body>
        <!--[if lte IE 6]><script src="assets/scripts/vendors/ie6/warning.min.js"></script><script>window.onload=function(){e("js/ie6/")}</script><![endif]-->
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        <div id="wrapper">
            <!-- Header-->
            {% include "header" %}

            <!-- Main content-->
            {% block content %}{% endblock %}
             <!-- Footer-->           
            {% include "footer" %}
        </div> 

        <!-- Javascript libraries -->
        {{ "jquery.min.js" | asset_url | script_tag }}
        {{ "modernizr.min.js" | asset_url | script_tag }}

        <!-- Global Javascript -->
        {{ "action.min.js" | asset_url | script_tag }}

        <!-- Google latest Analytics code -->
        {% include "accountant" %}

    </body>
</html>